/*
 * Styles for tests
 * -------------------------------------------------- */

#stage {
  position: absolute;
  width: 720px;
  height: 510px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.box {
  position: absolute;
  background-color: #069;
}

.box-small {
  width: 20px;
  height: 20px;
}

.gpu {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.ease-linear {
  -webkit-transition: all 2s ease-in;
     -moz-transition: all 2s ease-in;
      -ms-transition: all 2s ease-in;
       -o-transition: all 2s ease-in;
          transition: all 2s ease-in;
}

.move {
  top: 500px;
  -webkit-transform: rotateZ(360deg);
     -moz-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
       -o-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.finish {
  top: 0;
}
